.headerProductsSite--admin {
  background-image: url("/photos/szafaaa.jpg");
}

.panel {
  font-family: "Montserrat";
  padding: 3px;
  letter-spacing: 1px;
  font-size: 12px;
}
.panel__menu {
  margin: 0;
  display: flex;
  justify-content: space-around;
  background: rgb(235, 235, 235);
}

.panel__menuItem {
  color: rgb(59, 59, 59);
  font-size: 21px;
  padding: 25px;
}

.forms {
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  max-width: 20vw;
  margin: 5vh auto 5vh;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.253);
}
.forms input {
  padding: 5px;
}
.forms label {
  padding: 5px 0;
}

.forms label:after {
  content: "";
  display: block;
  width: 2vw;
  background-color: rgb(255, 8, 8);
  height: 1px;
  margin-top: 2px;
  margin-bottom: 5px;
}
.product__addText--accept {
  border-color: rgb(22, 196, 60);

  color: rgb(22, 196, 60);
}
.product__addText--accept:hover {
  background-color: rgb(22, 196, 60);
}

.product__color--bold {
  font-size: 20px;
}
.product__color--bold span {
  font-weight: 900;
  color: red;
}

tr:hover {
  color: red;
  cursor: pointer;
}
.adminOrder {
  width: 100vw;
  display: flex;
  padding: 20px;
  margin: 10vh 0;
}
.singleCartItem__img {
  flex-grow: 1;
  flex-basis: 100%;
}
.adminOrder__personal-info {
  flex-basis: 30%;
  height: 100%;
  background-color: white;
}

.adminOrder__singleTable {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  margin-left: 1vw;
}

.adminOrder__singleTableColumn {
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 200;
  display: flex;
}

.adminOrder__singleTableRow {
  border: 2px solid rgba(128, 128, 128, 0.219);
  flex-basis: 50%;
  margin: 5px;
  padding: 5px;
}
.adminOrder__cart-info {
  margin: auto;
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}

.adminOrder__item {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1em;
}
table th {
  font-family: "Montserrat";
  padding: 2px;
  text-align: center;
  font-weight: normal;
  font-size: 1em;
  padding: 0.1em 0.5em;
  border: 1px solid gray;
}
table{

  overflow-x: auto !important;



}
.containterOrders {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.admin-login {
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.admin-form {
  display: flex;

  flex-direction: column;
}

.admin-form input {
  display: flex;
  padding: 0.2em 1em;
  margin: 0.2em;

  flex-direction: column;
}
.ahrefff {
  color: black !important;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 425px) {
  .panel__menu {
    flex-direction: column;
  }
  .forms {
    max-width: 80vw;
  }
  table {
    display: block;
    width: 100vw !important;
    font-weight: normal;
    margin: 0.2em;
    background: rgba(243, 243, 243, 0.377);
  }
  table th {
    font-family: "Montserrat";
    text-align: center;
    font-weight: normal;
    font-size: 12px;
  }
  .adminOrder {
    flex-direction: column;
    padding: 0;
  }
  .adminOrder__singleTable {
    margin-left: 0;
  }
  .adminOrder__singleTableColumn {
    font-size: 1em;
    margin: 0;
  }
  .adminOrder__singleTableRow {
    margin: 0;
  }
  .adminOrder__cart-info {
    justify-content: center;
  }
  .adminOrder__item {
    padding: 2px;
    flex-basis: 44%;
  }
}
