.container--modified {
  margin-top: 4em;
  max-width: 1620px;
}
.carousel-modified {
  background-color: red;
}

.fa-shopping-cart {
  font-size: 22px !important;
  color: white !important;
}
.shoppingCart {
}

.navbar-nav > li {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .menuItem {
    display: none;
  }
}

.product {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 5em;
}
.media.align-items-lg-center.flex-column {
  width: 100% !important;
}

.mini-items {
  display: flex;
  order: 2;
}
.resetcss {
  font-size: 12px;
}
.mini-item {
  width: 50px;
}
.descriptions {
  flex-basis: 100% !important;
}
.cartMini {
  display: none;
}
@media (max-width: 1024px) {
  .dropdown-menu {
    display: block !important;
  }
  .cartMini {
    display: block;
  }
  .product {
    padding: 1em 0;
  }
  .cartLG {
    display: none !important;
  }
  .mini-items {
    flex-direction: row;
    flex-grow: 1;
    order: 1;
  }
  .mini-item {
    width: 50px;
    margin: 5px;
    flex-grow: 1;
  }
}
