.container--modified {
  margin-top: 4em;
  max-width: 1620px;
}
.carousel-modified {
}

.fa-shopping-cart {
  font-size: 22px !important;
  color: white !important;
}
.shoppingCart {
}

.navbar-nav > li {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .menuItem {
    display: none;
  }
}

.product {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 5em;
}
.media.align-items-lg-center.flex-column {
  width: 100% !important;
}

.mini-items {
  display: flex;
  order: 2;
}
.resetcss {
  font-size: 12px;
}
.mini-item {
  width: 50px;
}
.descriptions {
  flex-basis: 100% !important;
}
.cartMini {
  display: none;
}
.carousel-indicators li {
  background-color: rgba(70, 70, 70, 0.25) !important;
}

.carousel-indicators .active {
  background-color: rgb(56, 34, 34) !important;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 5px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 2rem;
  height: 0.3rem;
  margin: 0;
  border: 0;
  background: transparent;
}
.quantity {
  width: 140px;
  text-align: center;
  height: 2em;
}
ol.carousel-indicators li {
  background: rgba(19, 19, 19, 0.39);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.navbar-nav > li > .dropdown-menu {
  background-color: rgb(255, 255, 255);
}
ol.carousel-indicators li.active {
  background: yellow;
}
.dropdown-menu {
  padding: 0 !important;
  border: none !important;
}
.dropdown-item {
  padding: 2px 20px !important;
    border-radius: 0 !important;
  border-bottom: 1px solid rgb(216, 216, 216) !important;
}
.carousel-control-prev {
}
.carousel-control-prev-icon {
  color: black !important;
}
.Text.text__delivery {
  margin-top: 8em !important;
}
.slider__section {
  width: 100%;
  display: flex;
  padding-bottom: 1em;
}
.adding {
  display: flex;
  justify-content: left;
  padding: 0.4em 0;
}
.slider__image {
  width: 100%;
  object-fit: fill;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
@media (max-width: 1024px) {
  .dropdown-menu {
    display: block !important;
  }
  .cartMini {
    display: block;
  }
  .product {
    padding: 1em 0;
  }
  .cartLG {
    display: none !important;
  }
  .mini-items {
    flex-direction: row;
    flex-grow: 1;
    order: 1;
  }
  .mini-item {
    width: 50px;
    margin: 5px;
    flex-grow: 1;
  }
}
.card-img-top {
  max-height: 60%;
}
.pay {
  background-color: red !important;
  color: white !important;
  font-weight: 600 !important;
}
.nav-link.dropdown-toggle.btn-danger {
  color: rgb(255, 255, 255) !important;
}

.list-group-item.list-group-item-action:hover {
  background-color: rgba(141, 141, 141, 0.685) !important;
}
@media (max-width: 425px) {
  .flexcolumn-wrapper {
    flex-direction: row;
  }
  .flexcolumn {
    width: 50% !important;
    flex-grow: 1;
    padding: 0.3em !important;
  }
  .adding {
    justify-content: center;
  }
}

.color-gray {
}
.card-title {
  font-size: 16px;
}
h5 {
  font-size: 14px !important;
}
