.container--modified {
  margin-top: 4em;
  max-width: 1620px;
}
.carousel-modified {
}

.fa-shopping-cart {
  font-size: 22px !important;
  color: white !important;
}
.shoppingCart {
}
.productSiteWrapper {
  background: #343a40 !important;
}
.navbar-nav > li {
  margin-left: 20px;
  margin-right: 20px;
}
#quantity {
  padding: 2px;
  margin: 0px 10px;
  text-align: center;
}
.popup__img {
  margin: 0 2em 10px;
}
.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  .menuItem {
    display: none;
  }
}

.product {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.media.align-items-lg-center.flex-column {
  width: 100% !important;
}
.height6em {
  height: 6em;
}
.mini-items {
  display: flex;
  order: 2;
}
.resetcss {
  font-size: 12px;
}
.mini-item {
  width: 100px;
  margin: 0.1em;
}
.descriptions {
  flex-basis: 100% !important;
}
.cartMini {
  display: none;
}
.carousel-indicators li {
  background-color: rgba(70, 70, 70, 0.25) !important;
}

.carousel-indicators .active {
  background-color: rgb(56, 34, 34) !important;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 0px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 2.5rem;
  height: 0.25rem;
  border: 0;
  background: transparent;
}
.quantity {
  display: block !important;
  width: 140px;
  text-align: center;
}
ol.carousel-indicators li {
  background: rgba(19, 19, 19, 0.39);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.navbar-nav > li > .dropdown-menu {
  background-color: rgb(255, 255, 255);
}
ol.carousel-indicators li.active {
  background: yellow;
}
.dropdown-menu {
  padding: 0 !important;
  border: none !important;
}

.carousel-control-prev {
}
.carousel-control-prev-icon {
  color: black !important;
}

.slider__section {
  display: flex;
  width: 100%;
}
.adding {
  display: flex;
  justify-content: left;
  padding: 0.4em 0;
}
.menu__cart {
  display: flex !important;
  justify-content: space-evenly !important;
  font-size: 13px;
}
.slider__image {
  width: 100%;
  object-fit: fill;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.orderCheck {
  background-color: rgba(0, 47, 255, 0.068);
  font-size: 22px;
  font-weight: 200;
  line-height: 28px;
  padding: 1em;
}
.orderForm__delivery--pay {
  padding: 0 3em !important;
}
.logout .panel__menuItem {
  padding: 0.5em 1em;
  background-color: rgba(247, 22, 22, 0.822);
  color: white !important;
  font-size: 18px;
  width: auto;
}

.logout {
  margin-left: auto;
  margin-right: 1em;
}

.vat {
  font-size: 14px;
  color: gray;
}
.contacto {
  color: white !important;
}

.contact__footer {
  padding: 0 60px !important;
}

@media (max-width: 1024px) {
  .dropdown-menu {
    display: block !important;
  }
  .cartMini {
    display: block;
  }
  .product {
    padding: 1em 0;
  }
  .cartLG {
    display: none !important;
  }
  .mini-items {
    flex-direction: row;
    flex-grow: 1;
    order: 1;
  }
  .mini-item {
    width: 75px;
    margin: 5px;
  }
}
.card-img-top {
  max-height: 60%;
}
.pay {
  background-color: red !important;
  color: white !important;
  font-weight: 600 !important;
}
.nav-link.dropdown-toggle.btn-danger {
  color: rgb(255, 255, 255) !important;
}
.red {
  background-color: red !important;
  color: white !important;
}
.list-group-item.list-group-item-action:hover {
  background-color: rgba(141, 141, 141, 0.685) !important;
}
.modale button {
  background-color: rgb(3, 185, 18);
  border: none;
  color: white;
  padding: 5px 11px;
  margin: 5px;
}
@media (max-width: 425px) {
  .navbar-nav.ml-auto.mr-8.justify-content-center {
    padding: 0 !important;
  }
  .modale {
    padding: 0.5em !important;
    text-align: center;
  }
  .orderForm__delivery--pay {
    padding: 0 0.1em !important;
  }
  .dropdown-item {
    padding: 0.5em 1em !important;
    font-family: montserrat;
    font-size: 14px;
    border-radius: 0 !important;
    background-color: #343a40 !important;
    color: rgb(241, 240, 240) !important;
    border-top: 1px solid rgba(148, 148, 148, 0.568) !important;
  }
  .dropdown-item:nth-child(1) {
    border-top: none !important;
    margin-top: 0.5em !important;
  }
  .navbar.navbar-expand-lg.navbar-dark {
  }
  .nav-item {
    margin: 0 !important;
  }
  .container-top {
    margin-top: 20px;
  }
  .flexcolumn-wrapper {
    flex-direction: row;
  }
  .flexcolumn {
    width: 50% !important;
    flex-grow: 1;
    padding: 0.3em !important;
  }
  .adding {
    justify-content: center;
  }
}

.color-gray {
}
.card-title {
  font-size: 16px;
}
h5 {
  font-size: 14px !important;
}
.container-popup {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.imgpopup {
  max-width: 200px !important;
}
.modale {
  padding: 20px;
  text-align: center;
  width: auto;
}

.popup-content {
  width: auto !important;
}

.red {
  background-color: rgb(228, 26, 26) !important;
  color: white !important;
  font-weight: 800;
}